<!-- Exercício 1    ✓  -->
<!-- <app-contador></app-contador> -->


<!-- Exercício 2 e 3 -->
<!-- <app-list-itens></app-list-itens>   -->

<!-- Exercício 4    ✓  -->
<!-- <app-form-cadastro></app-form-cadastro> -->


<!-- Exercício 5    ✓  -->
<!-- <app-controle-acesso></app-controle-acesso> -->


<!-- Exercício 6    ✓  -->
<!-- <app-componente-pai></app-componente-pai> -->


<!-- Exercício 7    ✓  -->
<!-- <app-form-login></app-form-login> -->


<!-- Exercício 8 -->
<app-dados-alunos></app-dados-alunos>

